gym==0.17.3
atari-py==0.2.6
numpy==1.19.2
pandas==1.1.3
matplotlib==3.3.2
opencv==4.4.0.46
PyYAML==5.3.1
scipy==1.5.2
torch==1.7.0
torchvision==0.8.1

-e git://github.com/seblee97/config_package.git#egg=config-package
